/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body{
	background-color: #FDD100;
}

h1{
	text-align: center;
	font-family: 'Gruppo', cursive;
	font-size: 100px;
	font-variant: normal;
	font-weight: 200;
	color: #fff;
	text-shadow: 3px 2px #FD4100;
	/*padding bottom:-10px;*/
	}

.jumbotron{
	background-image:url(c:/tts/chirp_cr_new/app/assets/images/bird_chirping8.jpeg);
	/*background-image:url(c:/bird_chirping7.jpeg);*/
	background-attachment: fixed;
	background-size: cover;
	padding-top: 20%;
	padding-bottom: 15% ;
	padding-right: 0;
	padding-left:0; 
	}

.log_in{
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-color: #FFF;
	background-color: #FD4100;
	
}	