<!DOCTYPE html>
<html>
<head>
 <title>CHIRP!   *A Twitter Clone*</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 
<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
 -->
<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Architects+Daughter|Kaushan+Script|Poiret+One|Dancing+Script|Comfortaa|Handlee|Rock+Salt|Great+Vibes|Calligraffitti|Bad+Script|Reenie+Beanie|Walter+Turncoat|Alex+Brush|Allura|Forum|Gruppo|Seaweed+Script|Italianno|Delius|Patrick+Hand+SC|Qwigley|Oregano|Bilbo+Swash+Caps|Ruthie|Nosifer|Trade+Winds|Princess+Sofia|Caveat' rel='stylesheet' type='text/css'>

</head>

<body>

<%= yield %>

</body>
</html>
